/* html {
    scroll-behavior: smooth;
  } */
.slider img{
    background: #000;
}
.title-br h2{
    font-size: 62px;
    line-height: 88px;
    text-transform: uppercase;    
    text-shadow: 3px 2px 4px #000000d1;
}
.item-br{
    position: relative;
}
.title-br{
    position: absolute;
    top:40%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.menu-line{
    background: #ffffffc7;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #169bd3;
}
.menu-line ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 15px;
}
.menu-line ul li a::after{
    content: "/";
    margin-left: 5px;
    margin-right:5px; 
}
.menu-line ul li{
    font-weight: 600
 }
.menu-line ul li a{
   font-weight: 400;
   color: #000;
}
.sidebar{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.sidebar-h3{
    text-align: center;
    background: #169bd3;
    color: #fff;
}
.sidebar-h3 h3{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 21px;
    text-align: left;
}
/* .menu-line #sidebar ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    
} */
#sidebar ul li {
    border-bottom: 1px solid #eee;
    /* padding: 7px 0; */
    line-height: 46px;
}
#sidebar ul li a{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding: 15px 20px ;
    position: relative;
    text-transform: uppercase;
}
#sidebar ul li a i{
    float: right;
    position: relative;
    right: 20px;
    top: 17px;
    font-size: 12px;
}
#sidebar ul li ul{
    padding-left: 20px;
    /* list-style-type: disc;
    padding-inline-start: 40px; 
    color: #e6e4e4;*/
    margin-top: 0px;
}
#sidebar ul li ul li{
    margin-right: 20px;
    border-bottom: 1px solid #eee;
    /* padding: 7px 0; */
    line-height: 46px;
}
#sidebar ul li ul li a{
    font-weight: 300;
    position: relative;
    text-transform: inherit;
}

#sidebar ul li ul li ul{
    padding-left: 0px;
    margin-top: 0px;
}
#sidebar ul li ul li ul li{
    margin-right: 0px;
    margin-left: 20px;
}
#sidebar ul li ul li a::before{
    content:"";
    position: absolute;
    top:42%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background: #e6e4e4;
    border-radius:5px; 
}
#sidebar ul li a::before{
    content:"";
    position: absolute;
}
#sidebar ul li ul li a:hover,#sidebar ul li ul li a.active,#sidebar ul li a:hover{
    color: #169bd3;
}
#sidebar ul li ul li a:hover::before,#sidebar ul li ul li a.active::before,#sidebar ul li a:hover::before{
    top:0;
    left: -20px;
    width: 4px;
    height: 100%;
    background: #169bd3;
    border-radius:0px; 
}

#sidebar ul li ul li a.active,#sidebar ul li a.active{
    color: #169bd3;
}
#sidebar ul li ul li a.active::before,#sidebar ul li a.active::before{
    top:0;
    left: -20px;
    width: 4px;
    height: 100%;
    background: #169bd3;
    border-radius:0px; 
}
#sidebar ul ul ul li a.active::before,#sidebar ul ul ul li a:hover::before{
    left: -40px;
}
#sidebar ul li a:hover::before,#sidebar ul li a.active::before{
    left: 0px;
}
#sidebar ul li ul li:last-child{
    border-bottom: 0px solid #eee;
    padding-bottom: 0;
}
#sidebar ul li ul li:first-child{
    border-top: 1px solid #eee;
}
#sidebar ul li ul li a{
    padding-left: 20px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#sidebar ul li ul li a i{
    top: 2px;
    right: -20px;
}
.mgr-20{
    margin-top: 20px !important;
}

.title-h2-bg h2{
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0;
    border-bottom: 2px solid #169bd3;
    margin: 0;
    font-weight: 500;
}
.bgr-why{
    background: #FFFFFF;
    border: 6px solid #F5FBFB;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
}
.bgr-why .item{
    background: #F5FBFB;
    border-radius: 5px;
    
}
.bgr-why .item h3{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    padding: 13px 20px;
    text-transform: uppercase;
}
.item-bg .p{
    margin-top: 15px;
}
/* .bgr-why .item-bg p{
    font-size: 14px;
    line-height: 24px;
    color: #535353;
} */
.mgr-40{
    margin-top: 40px;
}
.list-dn{
    overflow: hidden;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 30px;
}
.list-dn .col-md-4{
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}
.item-bgr{
    position: relative;
}
.postion-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    max-width: 100%;
    background: #0000007d;
    padding: 3px 10px;
    text-align: center;
}
.postion-content:hover{
    background: #0000004f;
}
.postion-content h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3em;
    color: #fff;
}

.p{
    font-size: 14px;
    line-height: 24px;
    color: #545454;
}
.postion-content .p{
    color: #fff;
    line-height: 1.3em;
}
.postion-content a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #169bd3;
}
.img-cus img{
    width: 285px;
    max-height: 285px;
    margin-right: 30px;
    object-fit: cover;
}
.flex{
    display: flex;
}
.content-cus h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}
.content-cus span.title-sp{
    color: #000000;
    font-size: 17px;
}
.item-cus{
    margin-bottom:30px; 
}
/* đối tác */
.img-hover{
    overflow: hidden;
}
.img-hover img{
    width: 100%;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}
.img-hover img:hover{
    transform: scale(1.03);
}
.list-part .list-partner .item {
    margin-top: 0;
    margin-bottom: 30px;
}
.list-part  .postion-part {
    max-width: 100%;
    margin: 0;
}
.list-part  .des-partner {
    font-size: 14px;
    line-height: 24px;
}
.h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-transform: unset;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.text-ser h4{
    padding: 10px 20px;
    margin: 0;
}
.text-lib .h4{
    border: none;
    margin-bottom: 10px;
}
a:hover .h4{
    color: #169bd3;
}
.mrg-15{
    margin-bottom: 15px;
}
.bgr-10{
    margin-bottom:120px; 
    overflow: hidden;
}
 /* faqs */
    .faqs-page .panel {
      border: 0;
      box-shadow: none;
    }
  
    .faqs-page .panel-group .panel+.panel {
      margin-top: 10px;
    }
  
    .faqs-page .item-question {
      border: 1px solid #ececec;
      display: block;
      line-height: 24px;
      padding: 16px 50px 16px 20px;
      font-weight: bold;
      font-size: 15px;
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-transform: uppercase;
    }
    .faqs-page .item-question:after {
    content: "\f106";
    font-family: FontAwesome;
    font-weight: normal;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    }
    
    .faqs-page .item-question.collapsed:after {
        color: #169bd3;
        content: "\f107";
    }
    .text-lib .flex .p{
        color: #999;
    }
.h44{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
}
    /* .faqs-page span {
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    background-color: #ececec;
    display: inline-block;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    } */
.text-ser .h4{
    border: none;
}
  
    .faqs-page .panel-body {
        padding: 20px;
        font-size: 15px;
        line-height: 26px;
        border: 1px solid #eee;
        border-top: 0px;
    }
    .item-question.collapsed{
        background: #fff;
        color: #000;
    }
    .item-question, .faqs-page .item-question:hover,.faqs-page .item-question:active,.faqs-page .item-question:focus{
        color: #fff;
        background: #169bd3;
    }
    .faqs-page .item-question.collapsed:hover::after,.faqs-page .item-question.collapsed:active::after,.faqs-page .item-question.collapsed:focus::after{
        color: #fff;
    }
    /* library */
    .text-lib span{
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #999999;
    }
    .width-img{
        width: calc(100% - 70%);
        margin-right: 30px;
    }
    .text-lib{
        width: calc(100% - 30%);
    }
    .mm{
        margin-right: 20px;
    }
    .h4 a,.h44 a{
        color: #000;
    }
    .h4 a:hover,.h44 a:hover{
        color: #169bd3;
    }
    .bottom-7{
        margin-bottom: 70px;
    }
    .bottom-8{
        margin-bottom: 80px;
    }
    .bottom-9{
        margin-bottom: 90px;
    }
/* dich vu */
.bgr-gray {
    background: #F5F5F5;
    border-bottom: 1px solid #f5f5f5 !important;
} 
#sidebar ul li ul li.bgr-gray a::before{
    background: transparent;
    left: 0px;
}
#sidebar ul li ul li.bgr-gray a.active::before{
    background: #169bd3;
    left: 0px;
}

/* detail */
    .title-detail h2{
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        color: #000000;
    }
    .detail-lib  .width-img{
        width: calc(100% - 55%);
        margin-right: 30px;
    }
    .detail-lib .text-lib{
        width: calc(100% - 45%);
    }

    .text-lib .p{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .bgr-detail-lib{
        background: #fff;
        position: relative;
        top: -50px;
        clear: both;
        z-index: 9;
    }
    .content, .sidebar-detail{
        width: calc(100% - 50%);
    }
    .bgr-detail-lib::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 9;
    }
    .number-d span{
        color: #aaa;
    }
    .number-d{
        width: calc(100% - 85%);
    }
    .post-hv .text-lib{
        width: calc(100% - 15%);
    }
    .post-hv .item{
        margin-bottom: 20px;
    }

    /* .img-cus{
        width: calc(100% - 65%);
    }
    .content-cus{
        width: calc(100% - 35%);
    } */
    .mgr-40 h5{
        font-weight: 600;
        font-size: 16px;
        color: #000;
    }
    .mgr-40 strong{
        font-weight: 600;
        color: #000;
    }
    .bgr-vision{
        overflow: hidden;
        background: #eee;
    }
    .bgr-mission{
        background: #ddd;
        padding: 20px;
    }
    .pd-vision{
        padding: 20px;
    }
    .list-mbl{
        margin-bottom: 120px
    }
    @media only screen and (min-width: 992px){
        .float{
            float: right;
        }
    }
    @media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    }

    @media only screen and (max-width: 768px){
        .title-br{
            top: 60%;
        }
        .title-br h2 {
            font-size: 30px;
        }.content-cus h4 {
            font-size: 16px;}
        .list-dn {
            overflow: hidden;
            margin-right: 0px; 
            margin-left: 0px;
            margin-top: 30px;
        }
        #doi-ngu .title-h2-bg ,#cam-nhan .title-h2-bg {
            margin-right: 15px; 
            margin-left: 15px;
        }
        .item-cus.flex{
            display: block;
        }
        .img-cus img {
            width: auto;
            max-height: auto;
            margin-right: 0;
            object-fit: cover;
        }
        .content-cus{
            max-width: 330px;
            padding: 0 32px;
        }
        .owl-item.active.center .content-cus{
            padding: 0 20px;
        }
        #cam-nhan .buttom {
            margin-top: 0;
        }
         .list-part .list-center .postion-part{
            max-width: 100%;
            margin: 0;
            text-align: center;
        }
        .list-service .img-hover {
            width: calc(100% - 40%);
        }
        .list-service .text-ser{
            width: calc(100% - 20%);
        }
        .list-library-mobile .flex{
            display: block;
        }
        .list-library-mobile .width-img {
            width:100% ;
            margin-right: 0;
        }
        .list-library-mobile .text-lib {
            width: 100% ;
        }
        .list-library .text-lib span,.list-library .text-lib p,.list-library .text-lib div.flex{
            display: none;
        }

        .list-mbl .list-dn .col-md-4 {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 30px;
        }
        .list-mbl{
            margin-bottom: 70px
        }
        .title-h2-bg h2{
            font-size:23px ;
        }.text-ser h4 {
            font-size: 16px;
            line-height: 25px;
        }
        .bgr-10 {
            margin-bottom: 70px;
            overflow: hidden;
        }.bottom-9 {
            margin-bottom: 70px;
        }.title-detail h2 {
            font-size: 23px;
        }
        .title-h2-bg.mrg-120{
            margin-top: 0px;
        }
        .bottom-7 {
            margin-bottom: 0px;
        }.faqs-page .item-question{
            padding: 16px 40px 16px 10px;
            font-size: 14px;
        }
        .mgr-40 img{
            width: 100%;
            padding-right: 0;
            padding-left:0; 
        }.float img{
            width: 100%;
            padding-right: 0 !important;
            padding-left:0 !important; 
        }
        .title-h2-bg h2 img{
            width: auto;
            
            float: left;
            margin-right: 10px;
        }
    }
    @media only screen and (max-width: 767px){
        .owl-carousel .owl-item .item-bgr img{
            width: 330px;
        }
        .float .col-md-6.col-sm-6{
            padding-right: 0 !important;
            padding-left:0 !important; 
        }
        .display{
            display: none;
        }

    }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .title-br {
        display: none
    }
    .item-cus.flex {
        display: flex;
    }.float{
        float: right;
    }
    
    
}
.content_menu img {
    max-width: 100%;
}