﻿body{
	background: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
    color: #555555;
    line-height: 32px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-family: 'Roboto', sans-serif !important;
}
h3 a{
    color: #222;
}
a{
    color: #169bd3;
}
a:hover,a:active,a:focus{
    color: #169bd3;
}
h3 a:hover,h3 a:active,h3 a:focus{
    color: #169bd3;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}
a:hover,a:active,a:focus{
    text-decoration: none;
    outline: none;
	cursor: pointer;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}

select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
}
.mrg-center{
    margin: 0 auto;
    display: table;
}
.content h2 ,.content h1{
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.3;
}
.content h3{
    font-size: 30px;
    font-family: "hgrsmp";
}
.content h3 i{
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.list-unstyled {
    margin-bottom: 0;
}
/*header*/
/* #cssmenu{
    margin-top: 25px
} */
.container-header{
    background: #ffffff1c;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
    max-height: 140px;
    color: #fff;
    padding: 0;
}
.menu-top ul{
    list-style: none;
    display: inline-flex;
    margin-bottom: 10px;
    float: right;
}
.menu-top ul li{
    padding: 0 10px;
    border-right:1px solid #ffffff8c;
    font-size: 15px;
}
.menu-top ul li:last-child{
    border-right:1px solid transparent;
    padding: 0 0 0 15px;
}
.menu-top ul li a{
    color: #fff;
    font-weight: 300;
}
.menu-top ul li a:hover,.menu-top ul li a:active,.menu-top ul li a:focus{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.menu-top ul li.social a{
    border: 1px solid #ffffff8c;
    color: #fff;
    margin-right: 5px;
    font-size: 14px;
}
.menu-top ul li.social a i{
    font-size: 16px;
    position: relative;
    top: 1px;
}
.menu-top ul li.social a:last-child{
    margin-right: 0px;
}
.fixed-menu-header {
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top: 0;
    background: #ffffffd1;
    color: #222;
    border-bottom: 1.5px solid #169bd3;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    padding: 0;
    /* -webkit-transform: translateY(0);
    transform:translateY(0);
    transition: -webkit-transform 1.3s;
    transition: transform 1.3s;
    transition: transform   1.3s,-webkit-transform .3s; */
}
.fixed-menu-header #cssmenu > ul > li > a{
    color: #222;
}
.fixed-menu-header .menu-top ul li a {
    color: #222;
}
.fixed-menu-header .menu-top ul li {
    border-right: 1px solid #0003;
}

.fixed-menu-header .menu-top ul li.social a {
    border: 1px solid #0003;
}
.fixed-menu-header .menu-top ul li:last-child {
    border: 1px solid transparent;
}
.fixed-menu-header .hotline a {
    color: #222;
    margin-left: 5px;
}
.fixed-menu-header .hotline img {
    border: 2px solid #222;
    position: relative;
    top: -2px;
}
.fixed-menu-header .hide-fix {
    display: none;
}

.fixed-menu-header .hotline{
    top: 30px;
}
.fixed-menu-header .logo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.fixed-menu-header .logo img{
    max-height:50px;
}
.fixed-menu-header #cssmenu > ul > li > a {
    line-height: 70px;
}
.fixed-menu-header #cssmenu{
    margin-top: 12px;
}
.fixed-menu-header #cssmenu > ul > li:hover > a,.fixed-menu-header #cssmenu > ul > li.active > a {
    color: #169bd3;
}
/* fixed-menu-header */
.overflow {
    overflow: hidden;
}
.img-logo{
    max-height: 50px;
}
.logo-text span{
    font-size: 15px;
    padding-left: 0;
    font-weight: 300;
}
.logo a:hover,.logo a:active,.logo a:focus{
    text-decoration: none;
    outline: none;
}
.logo-text span i{
    padding-right:10px;
    font-size: 16px;
    position: relative;
    top: 1px;
}
.hotline{
    position: relative;
    top: 20px;
    float: right;
    font-size: 16px;
}
.hotline img{
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 4.5px 5.5px;
}
.hotline span{
    font-weight: 600;
    display: flex;
}
.hotline a{
    color: #fff;
    margin-left: 5px;
}
.slider {
    position: relative;
    z-index: 1;
}
.slider img{
    width: 100%!important;
    /* max-height: 700px; */
    height: auto!important;
    object-fit: cover;
}
.slider .owl-carousel img{
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}
.slider .owl-carousel img:hover{
    transform: scale(1.03);
}
.slider .item{
    position: relative;
}
.slider .owl-theme .owl-nav .owl-next{
    right: 3%;
}
.slider .owl-theme .owl-nav .owl-prev{
    left: 3%;
}
.text-slider{
    position: absolute;
    bottom: 12%;
    left: 7%;
    color: #fff;
}
.text-slider h2{
    font-size: 35px;
    text-shadow: 3px 2px 4px #000000d1;
    text-transform: uppercase;
}
.text-slider h4{
    text-shadow: 3px 2px 4px #000000d1;
    text-transform: uppercase;
}
.title-h2{
    position: relative;
}
.title-h2 h2{
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    color: #169bd3;
    font-weight: 600;
}
.title-h2 h2::before{
    content: "";
    border: 1px solid #E2E2E2;
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 10%
}
.title-h2 h2::after{
    content: "";
    border: 1px solid #E2E2E2;
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 10%
}
.title-h2 h2.en::before{
    width: 160px;
}
.title-h2 h2.en::after{
    width: 160px;
}
.title-about h2::before{
    left: 5%
}
.title-about h2::after{
    right: 5%
}
.logo-about{
    margin: 0 auto;
    display: table;
    margin-bottom: 65px;
    max-height: 60px;
}
.mrg-80{
    margin-top:70px;
}
.logo{
    margin-top: 28px;
}
.des{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 600;
    color: #000;
}
.content-home{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* text-align: center; */
    padding-top: 24px;
    max-width:86%;
    margin: 0 auto;
}

.section-2 {
    position: relative;
}
.server{

    background: #000 url("../img/Homepage/bgr1.png") no-repeat;
    padding: 182.5px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9;

}
.server:hover::after {
    transform: scale(1.015, 1.03);
}

.server::before{
    content: "";
    /* background: #000000a3; */
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 9;
}
.server::after{
    content: "";
    border: 1px solid #fff;
    position: absolute;

    width: 96.5%;
    margin: 30px auto;
    height: 88%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}
.server h2{
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    transform: scale(1);
    transition: transform 400ms ease-in-out;

}
.server h2:hover, .server:hover h2 {
    transform: scale(1.03);
}
.position{
    z-index: 99;
    position: relative;
}
.btn-more{
    height: 48px;
    background: transparent;
    border: 2px solid #fff;
    line-height: 33px;
    color: #fff;
    padding: 6px 38.2px;
    border-radius: 30px;
    font-size: 16px;
}
.mrg-45{
    margin-top: 45px;
}
.mrg-30{
    margin-top: 30px;
}
.btn-more:hover {
    color: #fff;
    background: #169bd3;
    border: 2px solid transparent;
}
.title-h3 h3{
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}
.number{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 300px;
    text-align: center;
    text-transform: uppercase;
    color: #F3F3F3;
}
/* .left.number{
    left:0;
    right: auto;
} */
.img-br{
    min-height: 45px;
}
.des-position.text-right{
    right: 60px;
}
.des-position.text-left{
    left: 60px;
}
.des-service{
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    max-width: 500px;
    float: right;
    margin-top: 30px;
    font-weight: 400;
}
.des-position{
    position: relative;
    top: -25px;
}
.des-position.text-right .buttom{
    margin: 30px 0;
    display: inherit;
    clear: both;
    float: right;
}
.des-position.text-left .buttom{
    float: left;
}
.mrg-bgr{
    margin-top: 94px;
}

.img{
    width: 100%;
    margin-bottom: 94px;
}
.bgr-img::after{
    content: "";
    background: #F6F6F6;
    position: absolute;
    width: 640px;
    height: 579px;
    top: -94px;
    left: 53.2%;
    z-index: -1;
}
.left::after{
    left: -63%;
}
.list-service .item:first-child{
    padding-top: 45px;
}
.mrg-120{
    margin-top:120px;
}
.title-ihc h3{
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #252525;
}
.des-ihc{
    font-size: 16px;
    line-height: 32px;
    color: #535353;
}
.title-partner h3{
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top:32px;
    margin-bottom: 12px;
    font-weight: 600;
}
.des-partner{
    font-size: 16px;
    line-height: 32px;
}
.img-ihc{
    width: 100%;
}
.postion-part{
    max-width: 270px;
    margin: 0 auto;
}
.list-partner{
    position: relative;
    overflow: hidden;
}
.list-partner .item{
    margin-top: 45px;
}
.list-ihc{
    margin-top: 45px;
    overflow: hidden;
}
.list-ihc .item{
    margin-top: 45px;
    max-width: 300px;
    margin: 0 auto;
}
.buttom a{
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    border: 1px solid #169bd3;
    border-radius: 35px;
    padding: 14.5px 39px;
    color: #169bd3;
}
.buttom a:hover,.buttom a:focus,.buttom a:active{
    background: #169bd3;
    color: #fff;
    border: transparent;
}
.buttom{
    margin: 0 auto;
    display: table;
    margin-top: 45px;
}
.journeys .server{
    margin-top: 45px;
    background: #000 url('../img/Homepage/bgr2.png') no-repeat;
    padding: 114px;
    background-position: center;
    background-size: cover;
}
.bgr-brow{
    background: #f6f6f6;
    padding: 60px 0 70px;
}
/* .journeys .server::after {
    content: "";
    position: absolute;
    width: 64.7%;
    height: 88%;
    top: 0;
    left: 16%;
    z-index: 9;
    margin: 30px;
} */
.text-jour{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.7;
}
.journeys .name{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.des-jour{
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.journeys .item {
    max-width: 770px;
    margin: 0 auto;
}
.owl-carousel.owl-loaded {
    display: block;
    position: relative;
    z-index: 9;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #ffffffbd;
    font-size: 20px;
    margin: 5px;
    padding: 4px 13px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #fff;
    line-height: 25px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #169bd3;
    border: 1px solid #169bd3;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .owl-next{
    position: absolute;
    right: 17%;
    top: 45%;
}
.owl-theme .owl-nav .owl-prev{
    position: absolute;
    left: 17%;
    top: 45%;
}
.owl-theme .owl-nav .disabled {
    opacity: 1;
    cursor: default;
}
.bgr-img, .trans{
    overflow: hidden
}
.bgr-img img, .img-ihc{
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
}

.mrg-list{
    padding: 30px 0;
    background: #F6F6F6;
}
.content-ss2{
    position: absolute;
    bottom: 0;
    color: #fff;
    /* background: #000; */
    background-image: linear-gradient(#1f1d1d00, #1b1b1a6b,#1b1b1a85);
    padding: 10px 30px;
    text-align: center;
    width: 100%;
}
.section-2-list .item{
    position: relative;
    overflow: hidden;
}
.img-ss2 img{
    width: 100%;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}
.content-ss2 h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
.img:hover,.img-ihc:hover,.img-ss2 img:hover{
    transform: scale(1.03);
}
.owl-theme .owl-nav {
    margin-top: 0;
}
/*footer*/
footer{
    /* background: #0B2B51 url(../img/pattern.png); */
    background-image: linear-gradient(#154175,#0b2b51);

}
.flex-ft{
    display: flex;
}
.flex-logo{
    width: 300px;
}
.flex-add{
    padding-right: 15px;
    width: 280px;
    margin-right: 15px;
    padding-left: 0;
}
.flex-menu{
    width: 250px;
}
.title-footer{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #a9bcd2;
    margin-top:0;
    margin-bottom: 30px;
}
.form-footer form{
    position: relative;
}
.add p{
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.7;
}
.list-footer ul{
    list-style: none;
    padding: 0;
    color: #fff;
    opacity: 0.7;
    font-size: 16px;
    line-height: 35px;
    margin-top: -10px;
}
.mrg-26{
    margin-bottom: 26px;
}.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1.5px solid #169bd3;
}
.input.form-control {
    margin-bottom: 10px;
    border-radius: 0;
}
.btn-sub{
    color: #ffffffbd;
    background: #169bd3;
    font-size: 15px;
    margin: 5px;
    padding: 2.21px 12px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #169bd3;
    bottom: -2px;
    right: -2px;
    line-height: 25px;
}
.list-footer ul li {
    margin: 10.5px 0px;
}
.list-footer ul li a{
    color: #fff;
}
.list-footer ul li a:hover{
    color: #169bd3;
}
.ft-text{
    padding: 17px 15px;
}
.ft-text p{
    color: #fff;
    opacity: 0.7;

}
.footer .menu-top ul .follow{
    color: #fff;
    opacity: 0.7;
    border: none;
}
.footer .menu-top ul{
    padding: 0px 5px;
    margin-top: 30px;
}
.img-logo-footer img{
    max-height: 60px;
}
/*copyright*/
.copyright{
    background: transparent;
    border-top: 1px solid #ffffff4f;
    color: #fff;
    opacity: 0.7;
    padding: 20px;
    font-size: 15px;
}
.copyright p{
	margin: 0;
	line-height: 1.5em;
}



@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
.animatable {

    /* initially hide animatable objects */
    visibility: hidden;

    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  /* show objects being animated */
  .animated {
    visibility: visible;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }
  @media (max-width:767px){
    #cssmenu .nav-mb{
        position: fixed;
    }
    .animated {
        visibility: visible;

        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        -ms-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        animation-duration: 0.5s;

        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      @-webkit-keyframes moveUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
        }	100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @-moz-keyframes moveUp {
        0% {
            opacity: 0;
            -moz-transform: translateY(20px);
        }

        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }

    @-o-keyframes moveUp {
        0% {
            opacity: 0;
            -o-transform: translateY(20px);
        }

        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }

    @keyframes moveUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
  }
@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(50px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 0;
		-o-transform: translateY(50px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
        transform: translateY(50px);
	}

	100% {
		opacity: 1;
        transform: translateY(0);
	}
}
/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* // */
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
.fix{
    position: fixed;
    top:115px;
    width: 292.5px;
}
/* //// */
.back-to-top {
    position: fixed;
    top: auto;
    left: auto;
    right: 15px;
    bottom: 15%;
    font-size: 32px;
    opacity: 0.8;
    z-index: 9999;
    cursor: pointer;
}

.back-to-top:hover {
    opacity: 1;
}

.back-to-top i{
    border: 1px solid #169bd3;
    padding: 1px 9px 5px 9px;
    border-radius: 30px;
    color: #fff;
    background: #169bd3
}
.sliderbar.owl-carousel .owl-dots{
    display: none;
}
.journeys .server .owl-dots{
    display: none;
}
.flex-logo .title-footer{
    padding-left: 15px;
    margin-top: 30px;
}

footer .menu-top ul li{
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
@media (min-width: 768px){

}

@media(min-width:992px){
 .mrg-why{
     margin-top: 100px;
 }
.col-md-2 .col-md{
    padding-left:0
 }
 /*.flex-menu .title-footer{
    display: none;
} */
.flex-logo {
    width: 401px;
    margin-right: 100px;
}

.flex-menu {
    width: 350px;
}
.flex-logo .clickin{
    padding-left: 15px;
}
.flex-logo .title-footer{
    margin-top: -8px;
    margin-bottom: 15px;
    line-height: 32px;
}
.img-logo-footer{
    position: relative;
    top: -39px;
}
}
@media(max-width:1280px){
    .owl-theme .owl-nav .owl-next {
        right: 6%;
    }
    .owl-theme .owl-nav .owl-prev {
        left: 6%;
    }
    .server::after{
        width: 95%;
    }
    .server:hover::after{
        transform: scale(1.03, 1.07);
    }
}
@media(max-width:1536px){

}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {


}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 767px) {
    .overflow{
        overflow:hidden;
    }


    .server {
        padding: 94.5px;
    }
    .server::after {
        width: 84.7%;
        height: 85%;
    }
    /* .title-h2 h2::before,.title-h2 h2::after{
       display: none;
    } */
    .title-h2 h2::after {
        width: 20px;
        right: 0;
    }
    .title-h2 h2::before {
        width: 20px;
        left: 0;
    }
    .title-main-footer {
        padding: 0px 15px;
    }
    .journeys .server {
        padding: 30px;
    }
    .journeys .server::after {
        width: 91.7%;
        height: 94%;
        margin: 15px;
        left: 0;
    }
    .journeys .item {
        max-width: auto;
    }
    .owl-theme .owl-nav .owl-prev {
        left: 0;
        top: 55%;
    }.owl-theme .owl-nav .owl-next {
        right: 0%;
        top: 55%;
    }
    .menu-top ul{
        padding: 0;
    }
    .logo span{
        display: none;
    }
    .slider img{
        min-height: 325px;
    }
    .fast{
        display: none;
    }

    .title-footer{
        margin-bottom: 20px;
    }

    .logo {
        margin-top: 0;
        padding: 20px 0 20px;
    }
    #cssmenu {
        position: absolute;
    }
    #cssmenu #menu-button{
        position: absolute;
        right: 15px;
        top: 25px;
    }
    #cssmenu ul{
        top: 90px;
        height: calc(100vh - 87px);
        overflow: auto;
    }
    #cssmenu ul ul{
        height: 100%;
    }
    #cssmenu ul ul ul li a {
        padding-left: 40px !important;
    }
    #cssmenu ul ul{
        top:0px;
    }
    #cssmenu > ul > li:first-child {
        margin-left: 0px;
    }
    .container-header {
        background: #ffffff;
    }
    #cssmenu ul li a{
      width: 100%;
      line-height: 50px;
      color: #000;
    }
    /* /// */
    .container-header{
        max-height: 145px;
    }
    .hotline {
        top: 52px;
        right: 16px;
        position: absolute;
    }
    .flex-logo,.flex-add,.flex-menu{
        width: 100%;
        clear: both;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
    }
    .bgr-img::after {
        width: 53%;
        height: 67%;
        top: 226px;
        content: none;
    }
    .left::after {
        left: 0px;
        top: -64px;
        height: 108%;
    }
    .des-position {
        top: 0;
    }
    .number {
        top: 0;
        display: none;
    }
    .des-position.text-right{
        text-align: left;
        padding-left: 15px;
    }
    .des-position.text-right .buttom{
        float: left;
    }
    .des-position.text-left {
        left: 0px;
    }
    .des-position.text-right {
        right: 15px;
    }
    .bgr-img, .trans {
        overflow: inherit;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    #sub-menu{
        position: relative;
    }
    .fixed-menu-header #cssmenu > ul > li > a {
        line-height: 50px;
    }
    .fixed-menu-header #cssmenu ul {
        top: 80px;
    }
    .fixed-menu-header #cssmenu ul ul{
        top: 0px;
    }
    #cssmenu ul ul ul{
        background: rgb(238, 238, 238);
        margin: 0;
        width: 100%;
        box-shadow: none;
        height: auto;

    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #169bd3;
    }

    .title-footer i{
        float: right;
    }
    .col-md-3.col-sm-3 .title-footer i{
        margin-right: 15px;
    }

    .text-slider {
        position: relative;
        bottom: 12%;
        left: 0;
        text-align: center;
        color: #fff;
        padding: 20px 50px;
        background: #169bd3;
    }
    .text-slider .mrg-30.position {
        margin-bottom: 30px;
    }
    .title-h3 h3{
        font-size:20px ;
        color: #222;
        font-weight: 500;
    }
    .text-slider h2,.text-slider h4{
        text-shadow: none;
        line-height: 37px;
        font-size:23px ;
    }
    .text-slider h4{
        text-transform: inherit;
        line-height: 1.5em;
    }.content-ss2 h4{
        font-size:16px
    }
    .logo-about{
        display: none;
    }
    .title-h2 h2{
        font-size:23px
    }
    .server h2{
        font-size:23px
    }
    .about .row{
        margin-right: 10px;
        margin-left: 10px;
    }
    .des,.content-home{
        text-align: left;
    }
    .about .title-h2 h2::before, .about .title-h2 h2::after{
        content: none;
    }
    .sliderbar  .owl-nav{
        display: none;
    }
    .sliderbar.owl-carousel .owl-dots{
        display: block;
    }
    .mobile-img img{
        background: #000;
        width: 100%;
    }
    /* /// */

    /* .clickin {
        display: none;
    } */
    .flex-logo, .flex-menu{
        border-bottom:1px solid #ffffff5c;
        border-top:1px solid #ffffff5c;
    }
    .fixed-menu-header .logo{
        margin-bottom: 0px;
        margin-top: 0;
        padding: 20px 0;
    }
    .fixed-menu-header #cssmenu #menu-button {
        right: 15px;
        top: 15px;
    }
    .row.flex-ft{
        margin-right: 0px;
        margin-left: 0px;
    }
    .pd-0{
        padding-right: 0;
        padding-left: 0;
    }

    /* /// */
    .server{
        background: #169bd3;
        padding: 20px 50px 40px;
    }
    .server::before,.server::after{
        content: none;
    }
    .journeys .server{
        margin-top: 0px;
        background: #fff;
        padding: 20px 21px 40px;
    }
    .journeys .name, .text-jour,.des-jour{
        color: #000;
    }
    .des-jour{
        text-align: left;
    }
    .journeys .btn-more{
        border: 2px solid #169bd3;
        line-height: 33px;
        color: #169bd3;
    }
    .journeys .mobile-img img{
        margin-top: 45px;
    }
    /* /// */
    .custom1 .owl-nav{
        display: none;
    }
    .custom1 .owl-dots{
        position: absolute;
        bottom: 53px;
        margin: 0 auto;
        text-align: center;
        display: table;
        width: 100%;
    }
    .slider{
        margin-bottom: 50px;
    }
    .mrg-list{
        padding: 20px 0;
    }
    .mrg-bgr{
        margin-top: 0;
    }
    .mrg-120 {
        margin-top: 50px;
    }
    .img {
        margin-bottom: 0;
    }
    .des-service{
        margin-top: 0px;
        float: left;
    }
    .des-position.text-left .buttom,.des-position.text-right .buttom {
        margin: 30px 0 0;
    }
    .list-service .item{
        margin-top: 50px;
    }
    .list-service .item:first-child {
        padding-top: 0;
    }.overflow {
        overflow: inherit;
    }
    /* //// */
    .list-ihc .item {
        margin: 40px 0 0;
        max-width: 100%;
        display: table;
        text-align: left;
    }
    .list-ihc {
        margin-top: 0;
    }
    .list-ihc .des-ihc{
        padding-left:0 !important;
    }
    .img-br {
        min-height: 45px;
        display: table-cell;
        padding-right: 21px;
        padding-left: 5px;
    }
    .img-br img{
        width: 40px;
    }
    .flex-ft{
        display: block;
    }
    .content-ss2 {
        position: relative;
        bottom: 0;
        color: #000;
        background: #fff;
        background-image: none;
        padding: 10px 30px;
        text-align: center;
        width: 330px;
    }
    .owl-carousel .owl-item .img-ss2 img ,.owl-carousel .owl-item .trans img{
        width: 330px;
    }
    .menu-top ul.eg{
        display: block !important;
    }
    .social-mobile i{
        border: 1px solid #5d5d5d;
        padding: 7px 9px;
    }
    .social-mobile i.fa-facebook-f{
        padding: 7px 11px;
    }
    #cssmenu ul ul li.social-mobile{
        display: flex;
        position: relative;
        border: none;
        bottom: -24%;
    }
    #cssmenu ul ul li.social-mobile a{
        width: 11%;
        min-width: auto;
    }
    #cssmenu .eg .submenu-button{
        border-left: none;
    }
    #cssmenu .submenu-button::before{
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 0px solid #fff;
    }
    #cssmenu .submenu-opened::before{
        border-top: 0px solid #fff;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    #cssmenu #menu-button.menu-opened {
        position: absolute;
        right: 12px;
        top: 30px;
        width: 25px;
        height: 30px;
        opacity: 1;
        border: 1px solid #169bd3;
        padding: 16px 16px;
        border-radius: 30px;
      }
      /* #cssmenu #menu-button.menu-opened:hover {
        opacity: 1;
      } */
      .fixed-menu-header #cssmenu #menu-button.menu-opened{
        top: 20px;
      }
    #cssmenu #menu-button.menu-opened::before,#cssmenu #menu-button.menu-opened::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #169bd3;
        border: none;
        top: 6px;
        right: 0px;
    }

    #cssmenu #menu-button.menu-opened::before {
    transform: rotate(45deg);
    }
    #cssmenu #menu-button.menu-opened::after {
    transform: rotate(-45deg);
    }
    .journeys .server .owl-dots {
        display: block;
    }.img-logo-footer img{
        max-height: 50px;
    }
    .img-logo{
        display: none !important;
    }
    .img-logo-color{
        display: block !important;
        max-height: 50px;
    }
    .bgr-brow {
        padding: 50px 0 60px;
    }
    .mrg-80{
        margin-top:50px;
    }
    .add.clickin{
        padding-left: 15px;
    }
    .flex.mobile-flex{
        display: inherit;
    }
    .flex.mobile-flex .col-md-3{
        margin-bottom: 15px;
    }
    .menu-top.pull-right{
        float: left !important;
    }
    .menu-top .follow{
        padding: 0
    }
    .phone-gif{
        position: fixed;
        bottom: 45%;
        right: -15px;
        z-index: 99;
    }
    .phone-gif img{
        width: 100px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .overflow{
        overflow:hidden;
    }
    .bgr-img::after {
        width: 53%;
        height: 121%;
        top: -94px;
    }
    .left::after {
        left: -5%;
    }
    .server::after {
        width: 91.7%;
        height: 81%;
    }
    .server {
        padding: 103.5px;
        background-position: center;
    }
    .number {
        top: 77px;
        font-size: 250px;
    }.des-position {
        position: relative;
        top: 77px;
    }
    .postion-part {
        min-height: 96px;
    }
    .title-h2 h2::before,.title-h2 h2::after{
        width: 100px;
    }
    .journeys .server {
        padding: 82px;
    }
    .journeys .server::after {
        width: 91.7%;
        height: 88%;
        top: 0;
        left: 0;
        margin: 30px;
    }
    .owl-theme .owl-nav .owl-next{
        right: -7%;
        top:45%;
    }
    .owl-theme .owl-nav .owl-prev{
        left: -7%;
        top:45%;
    }
    /* .img-logo-footer img{
        width: 100%;
    } */
    .hotline {
        top: 17px;
        font-size: 15px;
    }
    .fixed-menu-header .hotline {
       display: none;
    }
    .fixed-menu-header .logo img {
        max-height: 43px;
        margin-top: 24px;
    }
    .logo span{
        display: none;
        font-weight: 600;
    }
    .img-logo {
        max-height: 43px;
    }
    .title-about.title-h2 h2::before,.title-about.title-h2 h2::after{
        width: 60px;
    }
    .container-header {
        background: #ffffff1c;
    }
    .des-position.text-right {
        right: 13px;
    }
    .des-position.text-left {
        left: 13px;
    }
    .des-position {
        position: relative;
        top: 35px;
    }
    .title-partner h3{
        min-height: 40px;
    }
    .flex-logo,.flex-add,.flex-menu{
        width: 33%;
    }
    .flex-logo {
        margin-right: 0;
    }
    .flex-ft {
        display: inline-block;
    }
    .flex-add{
        margin-right: 0;
        margin-bottom: 50px;

    }
    .flex-menu {
        padding-left: 30px;
    }
    #cssmenu > ul > li > a {
        line-height: 50px;
    }
    .ms-hide{
        display: none;
    }
    .ms-right{
        float: right;
    }
    .text-slider {
        bottom: 5%;
    }
    #cssmenu ul ul {
        min-width: 250px;
    }
    .fixed-menu-header{
        background: #fff;
    }
      .title-h2 h2::after {
        right: 0;
    }
    .title-h2 h2::before {
        left: 0;
    }
    .flex-logo .title-footer{
        padding-left: 0 !important;
    }
    .list-ihc .des-ihc {
        padding-left: 10px !important;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .bgr-img::after {
        width: 53%;
        height: 119%;
        top: -94px;
    }
    .slider img{
        min-height: auto;
    }
    .owl-theme .owl-nav .owl-next{
        right: 0%;
    }
    .owl-theme .owl-nav .owl-prev{
        left: 0%;
    }
    .journeys .server::after {
        width: 93.7%;
    }
    .server::after {
        width: 93.7%;
        height: 81%;
    }
    .fixed-menu-header .hotline {
        display: block;
    }
     .hotline {
        top: 10px;
    }
    .text-slider {
        bottom: 12%;
    }
        .title-h2 h2::after {
        right: 10%;
    }
    .title-h2 h2::before {
        left: 10%;
    }
}

h3.title-footer{
    /*margin-bottom: 0px!important;*/
    margin: 15px 0px;
}

.add.clickin{
    margin-bottom: 15px;
}

.add.clickin p.mst{
    margin-bottom: 15px;
}

.add.clickin p{
    margin-bottom: 0px;
}

h3.title-footer.mbx-15{
    margin-top: 15px;
    margin-bottom: 15px!important;
}

.socail-icon{
    padding: 5px 10px;
    border: 1px solid #acbaca;
    color: #acbaca;
    margin-right: 5px;
}

.socail-icon:hover{
    color: #169bd3;
}

.ul-footer{
    margin-top: 20px;
    padding-left: 0px;
    list-style: none
}
.ul-footer .social {
    margin-top: 10px;
}
.title-contact{
    font-weight: bold;
    margin-bottom: 25px
}
.form-contact .lable-contact{
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 30px
}
.form-contact input{
    padding-top: 20px;
    height: 48px
}
.form-contact textarea{
    padding-top: 20px;
}
.submit-contact{
    background: #154174;
    border: 1px solid #169bd3;
    color: #fff;
    margin-top: 30px
}
.error-contact{
    font-size: 12px;
    color: #ff0000;
}
.tag{
    background: #ccc;
    color: #ffffff;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    margin-bottom: 10px;
}
.blog{
    margin: 30px 0;
}
.blog-item{
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}
.blog-item .topic, .blog-item .title {
    margin: 0;
}
.topic{
    text-transform: uppercase;
    font-weight: 700;
    color: #c0c0c0;
}
.blog-item .title{
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 15px;
}
.blog-item .sumary{
    line-height: 1.4;
    max-height: 90px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 15px;
}
.datetime{
    display: inline-block;
    float: left;
}
.read-more{
    display: inline-block;
    float: right;
}
.hot-news {
    margin-left: 30px;
}
.hot-news .item{
    margin-bottom: 30px;
}
.hot-news .item .title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    margin: 0 0 0 -15px;
    color: #000000d6;
    max-height: 60px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.hot-news .item .sumary{
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot-news .item .datetime{
    float: none;
}
@media (max-width: 767px) {
    .pc{
        display: none;
    }
    .sm{
        display: block;
    }
}
@media (min-width: 768px) {
    .sm{
        display: none;
    }
    .pc{
        display: block;
    }
}
